/* Font used: Roboto */
/* dark background color for hero and footer: #1F2937 */
/* Hero Main Text Styling:
48px, #F9FAF8 weight: 900 */
/* Hero Secondary Text, Header link text
18px, #E5E7EB */
/* Hero Logo Text
24px, #F9FAF8 */


/* Full Page */

* {
    font-family: "Roboto", Arial;
}

body {
    background-color: #1F2937;
}

/* First Section, Navigation bar and Hero */
.flex-container {
    display: flex;
    color: #E5E7EB;
    flex-wrap: wrap;
}


#heroFlex {
    flex-direction: column;
    max-width: 50%;
    padding: 100px;
}

blockquote {
    flex-grow: 4;
}

/* Logo Text in top left */
.header {
    font-size: 24px;
}

/* Navbar links in top right corner */
.flex-container .link {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 1em;
}

/* This website is awesome text */
.flex-container .hero {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-grow: 4;
}

.flex-container .heroSubtext, .heroButton {
    margin: 20px;
}

.heroSubtext {
    max-width: 40%;
}

.flex-container .heroImage {
    display: flex;
    padding: 20px;

}



/* Second Section */

.Second{
    background-color: #F9FAF8;
}

.informationHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.photoBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photoBox p {
    width: 50%;
}

.box {
    border: 4px ridge #3030e6;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    width: 100px;
    height: 100px;        
}
.boxCaption {
    text-align: center;
}

/* Button Color: call to action background color */
button {
    background-color: #3882F6;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Quote Section - Third */

.ThirdSection {
    background-color: #E5E7EB;
}

.quoteBox {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 60%;
    flex-direction: column;
}

.author {
    align-self: flex-end;
}

.FourthSection {
    background-color: #fff;
    display: flex;

}



footer {
    background-color: #1F2937;
    text-align: center;
    color: #ffffff;
}